@model BitirmeProjesi.Models.Bölümler
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminBölümGüncelle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="vertical-nav bg-white" id="sidebar;" style="width:280px;">

        <ul class="nav flex-column bg-white mb-0">

            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic bg-light">
                    Öğrenciler
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-dark font-italic bg-light">
                    Akademisylenler
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminProje/AdminProje" class="nav-link text-dark font-italic bg-light">
                    Projeler
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminBölüm/AdminBölüm" class="nav-link text-dark font-italic bg-light">
                    Bölümler
                </a>
            </li>
            <li class="nav-item">
                <a href="/OgrenciLogin/LogOut" style="color:black" class="nav-link text-dark font-italic">
                    Çıkış Yap
                </a>
            </li>
        </ul>
        <div class="page-content p-5 " id="content">
        </div>

    </div>


    <div class="adminiçerik">
        <form method="post">
            @Html.LabelFor(x => x.BölümAd)
            @Html.TextBoxFor(x => x.BölümAd)

            <button type="submit" class="btn btn-success">Güncelle</button>
        </form>
    </div>








</body>

</html>

