@model BitirmeProjesi.Models.Öğrenciler
@{
    ViewBag.Title = "OgrenciProfil";
    Layout = "~/Views/OgrenciMenu/_Layout.cshtml";

}

<h1 style="margin-left:29% ; margin-top:10%" class="font-italic">Hoşgeldin @Session["KullaniciAdi"] @Session["KullaniciSoyad"]</h1>